<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav mx-auto">
        <a href="" class="nav-item nav-link">About us</a>
        <a href="" class="nav-item nav-link">Support</a>
        <a href="" class="nav-item nav-link">Blog</a>
        <a href="" class="nav-item nav-link">Press</a>
        <a href="" class="nav-item nav-link">API</a>
        <a href="" class="nav-item nav-link">Job</a>
        <a href="" class="nav-item nav-link">Privacy</a>
        <a href="" class="nav-item nav-link">Terms</a>
        <a href="" class="nav-item nav-link">Directory</a>
        <a href="" class="nav-item nav-link">Language</a>
      </div>
    </div>
  </nav>
</footer>