<footer>
  <div class="footer">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav mx-auto">
        <a href="https://github.com/yukihirasawa1206" class="nav-item nav-link">MyRemoteRepository</a>
      </div>
    </div>
  </nav>
  </div>
</footer>